[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
matplotlib = "*"
scipy = "*"
google-cloud-bigquery = "*"
tqdm = "*"
tk = "*"
line-profiler = "*"
pandarallel = "*"
black = "*"
odeintw = "*"

[dev-packages]

[requires]
python_version = "3.6"
